$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Cabin:400,700);

.container {
  background: #242424;
  font-family: Cabin, Helvetica, sans-serif;
}

.album-art {
  img {
    width: 150px;
    height: 150px;
  }
}

.song-info {
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  color: #dde;
  .song-name {
    font-weight: bolder;
    font-size: 20px;
  }
  .song-artist, .song-album {
    font-size: 18px;
  }
}

.info {
  margin: 0px;

  h1 {
    color: #dde;
    font-size: 60px;
  }

  .now-playing {
    padding-left: 0px;
    padding-right: 0px;
  }

  .search {
    background: #25cf21;
    border-style: none;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #dde;
    border-radius: 35px;
    width: 175px;
    outline: none;
  }
  .search:focus {
    outline: none;
  }
}

h3 {
  color: #dde;
}

.queue-container {
  background: #eef;
  overflow-x: hidden;
  white-space: nowrap;
}

.queue-elem {
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  div {
    display: inline-block;
  }

  .queuer {
    font-weight: bold;
  }
}

.collective-queue {
  .song {
    width: 70%;
    overflow-x: hidden; 
  }
  .queuer {
    width: 25%;
    float: right;
  }
}

.search-results {
  .song {
    font-size: 15px;
    font-weight: bold;
    overflow-x: hidden;
    white-space: nowrap;
    line-height: 17px;
  }
  .artist {
    font-size: 15px;
    overflow-x: hidden; 
    white-space: nowrap;
    line-height: 17px;
  }
  .add {
    margin-top: 5px;
    font-size: 15px;
    line-height: 17px;
  }
}

.modal {
  .search-button {
    padding: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .search {
    width: 100%;
    height: 34px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: scroll;
  }

  .album-art {
    img {
      float: right;
      width: 75px;
      height: 75px;
    }
  }

  .song-info {
    text-align: left;
    .song-name {
      font-size: 20px;
    }
    .song-artist, .song-album {
      font-size: 16px;
    }
  }

  .info {
    h1 {
      padding-top: 25px;
      font-size: 85px;
      margin-bottom: 15px;
    }

    .search {
      margin-bottom: 15px;
    }
  }

  .queues {
    margin-bottom: 0px;

    .queue-container {
      overflow-y: scroll;
    }
  }

  .modal {
    .search-button {
      padding-left: 0px;
    }

    .panel {
      border-style: none;
      box-shadow: none;
    }
    .search-result-basic {
      padding-top: 15px;
      padding-left:15px;
      padding-right: 15px;
    }

    .search-result-detail {
      /*padding-top: 0px;*/
    }
  }

  .search-results {
    .song {
      font-size: 18px;
      line-height: 25px;
    }
    .artist {
      font-size: 18px;
      line-height: 25px;
    }
    .add {
      margin-top: 0px;
      font-size: 17px;
      line-height: 17px;
      padding-top: 4px;
      padding-bottom: 4px;
      height: 25px;
      width: 100%;
    }
  }

}
